$darkGreen:#0d3a3f;
$fontBlack:#354549;
$orange:#dc7064;
$lightOrange:#e48176;
$white:#e7eced;
$gray:#999;
$greenBlue:#3eacb9;
$lightGreen:#6ec8d3;
$images:"../../assets";
$imagesC:"../assets";
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

@mixin heavyTitle {
  font-size: 36px;
  font-weight: bold;
  color: $darkGreen;
}

#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}