.bannerIntro {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  padding: 30px 0;
  z-index: 4;
  p {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #fff;
  }
  .closeButton {
    font-size: 20px;
    padding: 8px 10px;
    background-color: $greenBlue;
    color: #fff;
    width: 100px;
    margin: 20px auto 0 auto;
    text-align: center;
    border-radius: 999px;
    cursor: pointer;
  }
}