.finddetail {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, .8);
  transition: all 1s;
  width: 80%;
  height: 80%;
  z-index: 100;
  @media screen and (max-width: 450px) {
    overflow: scroll;
    letter-spacing: 1px;
  }
  .finddetailWrapper {
    .userImg {
      img {
        height: 40%;
        display: block;
        margin: 60px auto 20px auto;
      }
    }
    .userDetail {
      text-align: center;
      font-size: 18px;
      p {
        margin: 1% 0;
        color: #fff;
      }
    }
    .closeButton {
      position: absolute;
      right: 20px;
      top: 10px;
      font-size: 40px;
      color: #fff;
      cursor: pointer;
      @media screen and (max-width: 450px) {
        position: fixed;
      }
    }
  }
}