.find {
  .recommend {
    margin-top: 10px;
    .recommendTitle {
      @include heavyTitle();
    }
    .recommendList {
      margin-top: 10px;
      padding: 20px;
      border: 1px solid $lightGreen;
      border-radius: 7px;
      @include clearfix;
      .recommendList_i {
        float: left;
        cursor: pointer;
        @media screen and(max-width: 1920px) {
          margin: 10px 33px;
        }
        @media screen and(max-width:1440px) {
          margin: 10px 23px;
        }
        @media screen and(max-width:1366px) {
          margin: 10px 17px;
        }
        @media screen and(max-width:1024px) {
          margin: 10px 30px;
        }
        @media screen and(max-width: 500px) {
          float: none;
          .recommendListImg {
            img {
              display: block;
              margin: 0 auto;
            }
          }
        }
        .recommendListImg {
          img {
            width: 150px;
          }
          .recommendListName {
            text-align: center;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
            color: $darkGreen;
          }
        }
      }
    }
  }
  .selectForm {
    margin-top: 20px;
    @include clearfix;
    .selectTitle {
      @include heavyTitle();
    }
    .selectList {
      margin: 20px 0;
      margin-top: 30px;
      border-radius: 7px;
      float: left;
      label {
        font-size: 18px;
        color: $fontBlack;
      }
      .selectGroup {
        display: inline-block;
        @media screen and(max-width: 450px) {
          margin-top: 10px;
        }
      }
    }
    .selectSubmit {
      float: left;
      margin: 27px 0;
      margin-left: 20px;
      cursor: pointer;
    }
  }
  .selectListin {
    margin-top: 10px;
    padding: 20px;
    border-radius: 7px;
    @include clearfix;
    .selectList_i {
      float: left;
      cursor: pointer;
      @media screen and(max-width: 1920px) {
        margin: 10px 60px;
      }
      @media screen and(max-width:1440px) {
        margin: 10px 24px;
      }
      @media screen and(max-width:1366px) {
        margin: 10px 18px;
      }
      @media screen and(max-width:1024px) {
        margin: 10px 30px;
      }
      @media screen and(max-width: 400px) {
        float: none;
        .selectListImg {
          img {
            display: block;
            margin: 0 auto;
          }
        }
      }
      .selectListImg {
        img {
          width: 150px;
        }
        .selectListName {
          text-align: center;
          display: block;
          margin: 0 auto;
          margin-top: 10px;
          color: $darkGreen;
        }
      }
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
  .fade2-enter-active,
  .fade2-leave-active {
    transition: opacity .5s .5s;
  }
  .fade2-enter,
  .fade2-leave-to {
    opacity: 0;
  }
}