.roadlist {
  padding: 60px 0; // height: 600px;
  width: 100%;
  background: url('#{$images}/screen2.png') no-repeat center center;
  color: #fff;
  @include clearfix;
  .road__title {
    font-size: 36px;
    opacity: 1;
  }
  .road__nav {
    margin-bottom: 10px;
    ul {
      list-style: none;
      margin-top: 10px;
      @include clearfix;
      li {
        float: left;
        padding: 10px 0 5px 0;
        margin-right: 20px;
        opacity: .7;
        border-bottom: 2px solid transparent;
      }
      .more {
        cursor: pointer;
        float: right;
      }
    }
  }
}

.road__list {
  // margin: 0 auto;
  @include clearfix;
  display: flex;
  flex-flow: row wrap;
}

.road__list::after {
  content: '';
  display: block;
  clear: both;
}

.road__list_i {
  flex: 1 0 22%;
  margin: 10px; // min-height: 190px;
  border: 1px solid #fff;
  overflow: hidden;
  @media screen and(max-width: 500px) {
    min-height: 100px;
    flex: 1 0 40%;
  }
  img {
    width: 100%;
  }
}

.road__newlist {
  @include clearfix;
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }
  .button {
    float: right;
    padding: 5px 10px;
    background-color: $greenBlue;
    border-color: $lightGreen;
    &:hover {
      background-color: $lightGreen;
      border-color: $lightGreen;
    }
  }
  .image {
    width: 100%;
    display: block;
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }
  .road__newlist_i {
    margin-bottom: 10px;
  }
}