.way {
  padding-bottom: 60px;
  width: 100%;
  @include clearfix;
  .wayWrapper {
    .hotRoad {
      .hotTitle {
        @include heavyTitle;
      }
      .hotContent {
        width: 100%;
        @include clearfix;
        margin-top: 10px;
        .hotContent_i {
          width: 45%;
          border-radius: 7px;
          min-height: 130px;
          background-size: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          transition: all 3s;
          &:hover{
            background-size: 120%;
          }
          &:nth-child(1) {
            float: left;
            background-image: url('#{$images}/hotImg1.png');
          }
          &:nth-child(2) {
            float: right;
            background-image: url('#{$images}/hotImg2.png');
          }
        }
      }
    }
  }
}